@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido al Sistema Bancario</h1>
    <p class="lead">Ingrese a nuestro menu para realizar las transacciones que necesite.</p>
   
</div>

